body{
    width: 100%;
    background: url(../img/background.png);
    background-size: 100%;
    background-repeat: repeat-y;

}

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

.bar {
    height: 18px;
    background: blue;
}

#middle {
  /*  border: red dotted; */
    word-wrap: break-word;
}

#left {
    /*border: green solid;*/
    word-wrap: break-word;
    margin-top: .9%;
}

#main {
    /*border: blue solid;*/
    padding: 0;
}

#right{
    /*border: gold solid;*/
}

.box-info{
-webkit-border-radius: 12px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .95);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .95);
box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
background-color: white;

}

.message{
    text-align: center;
    font-size: 1.6em;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .95);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .95);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}


/*************************************End of common***********************************/

.center {
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

#pages ul{
    list-style: none;
    list-style-type: none;
}

#pages ul li{
    display: inline;
}

#result-header{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 1.5em;
    background-color: white;
}

#result-header-page{
    float: right;
    width: 250px;
    text-align: right;
    display: inline;
}

#cart-option-buttons{
  float: right;
  visibility: hidden;
}

#cart-list{
    margin-left: 15px;
}


.cart-info {
    display: inline-block;
    padding: 5px;
    margin-bottom: 15px;
    width: 30%;

}

.cart-info-text{
  margin-left: 5px;
}

.cart-info-address{
   font-size: 1.5em;
   text-align: center;
   margin-top: 40px;
   letter-spacing: 1px;
}

.cart-info-header{
    margin-top: 30px;
}

.cart-info-size{
    font-size: 5.7em;
    padding: 3px;
}

.cart-info-type, .ticket-info-font{
    font-size: 2em;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: "Bookman Old Style";
}

.cart-info-link{
  position: relative;
  width: 145px;
}

.cart-info-img{
    margin-top: -50px;

}

.cart-info-serial{
    position: relative;
    top: 40px;
    left: 65px;

    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);

    color: white;
    float: left;
    font-size: .9em;
    font-weight: bold;
    text-shadow: black 0.1em 0.09em 0.09em;
}

.cart-info-born_date{
    padding: 0px;
    margin-top: -5px;


}

.cart-info-status{
     margin-top: 15px;
     margin-bottom: 10px;
}

.info-status{
    font-size: 1em;
    padding: 10px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

}


html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }


#cart-map-wrapper{
   padding: 15px;
   height: 500px;
   width: 100%;
   border: solid;
   border-color: #a9a9a9;
   border-width: 3px;
   margin-bottom: 10px;
}

#cart-map-wrapper img{
    /*TODO: hack fix for bootstrap ... has max-width:1000, overiding */
    max-width: 10000%

}


#cart-profile-map{
    height: 100%;

 }

/****login page, register page****/
.middlebox{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 50%;
    padding: 20px;
}

#login_form, #register_form{
    font-weight: bolder;
}


#login_form table, #register_form table{
    margin-left:auto;
    margin-right:auto;

}

/****Cart Profile Page****/

#cart-profile-tab{
    margin-bottom: 1%;
 }

#cart-profile-tab li {
   padding: 1%;
}


#cart-profile, #ticket-profile{
    display: inline;

}

#cart-info, #ticket-info{
    width: 100%;
  }

#cart-info-display, #ticket-info-display{
    width: 30%;
    float: left;
    margin-left: 8%;
}


.info-title{
    padding: 1.5%;
    margin-bottom: 1.5% ;
    text-align: center;
    font-size: 3em;
}


#cart-info-edit, #ticket-info-edit{
    width:50%;
    margin-left: 45%;

}


.cart-info-btn{
    float: right;
    margin-right: 5%;

}

#cart-info-edit-customer_name, #cart-info-edit-add-customer-address{
    font-size: 2.4em;

}


#cart-info-edit-street_address{

    margin-bottom: 3%;
    padding: 1.5%;
    font-size: 2.2em;
    color: #696969;
}



#cart-info-edit select, #cart-info-edit label{
    color: #696969;
    font-size: 1.9em;
    height: 2.1em;
    padding-right: 10px;


}

#ticket-pager{
    float: right;
    width: 20%;
    margin-bottom: 0;

}

.search-queries{
    color: #696969;
    font-size: 1.3em;


   }

#ticket-query select{
    font-size: 1.1em;
    height: 1.3em;
    padding: 1px;
    margin: 0;
    vertical-align: middle;

}


#ticket-query-advanced, #ticket-query-advanced-options{
    margin-top: 1%;
}

#ticket-query-advanced-options input{
   font-size: 1.1em;
   height: 1.3em;
   width: 5em;

}


#cart-info-edit-type {
    margin-left: 2.2%;
}


#cart-info-edit-last_update{
    font-size: 1.2em;
    float: right;

}


#cart-info-edit-rfid{
    font-size: 1.9em;
    text-align: center;
    color: #696969;
    font-weight: bolder;
    padding-bottom: 2%;
}

#customer-info-form{
    margin-left: 5%;
}

#customer-locations{
    margin-left: 45%;
    width: 50%;
}

.customer-cart-table{
    width:100%;
 }


.customer-cart-table-address{
     font-size: 1.7em;
}



.customer-cart-table-city-state{
    margin-top: .5%;
    font-size: 1.1em;

}

.customer-cart-table-address-remove{
    float: right;
    margin-bottom: 2%;
}

.customer-cart-table-routes{
    text-align: left;
    float: left
}

.customer-cart-table-address-new-ticket{
    float: right;
    margin-right: 1%;

}

#ticket_panel {
    margin-top: 1%;
    width: 100%;
    margin-bottom: 2%;
 }


.gridStyle {

    width: 100%;
    margin-top: 1%;

}


.ticket-info-address{
    font-size: 1.8em;
    padding-top: 1%;
    padding-bottom: 3%;
}

#ticket-info-processed, #ticket-info-attempts, #ticket-info-device-name{
    font-size: 1.5em;
    padding-top: 2%;
}

#ticket-info-edit label{
    font-size: 2.1em;
}

#ticket-edit-status{
    font-size: 2.1em;
}

#ticket-info-status{
    font-size: 2em;
    margin-left:auto;
    margin-bottom: 4%;
    margin-right:auto;
    padding: 5%;
    width: 80%;

}

#ticket-info-reason-code{
    font-size: .8em;
}

.ticket-info-service-type{
    font-size: 1.5em;
}


#fileupload-wrapper{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 40%;
    padding: 20px;
    font-size: 1.9em;
    font-weight: bolder;
}

#fileupload-template-link{
    margin-bottom: .3em;
    font-size: .6em;
}

#progress{
    margin: auto;
    margin-top: 5%;
    width: 70%;
    height: 18px;
    display: none;
}




.comment{
    font-size: 1.5em;

}

#info-new-comment-text{
   width: 85%;
   margin-left: 7%;
   font-size: 2em;
   border-color: #a9a9a9;
   border-width: .3em;

}

#info-new-comment button{
    margin-left: 8%;

}

.ticket-info-comment-date{
    float: right;
}

#ticket-info-edit-add-serial-number{
   font-size: 1.2em;
}

.new-selected {
    padding-top: .5em;
    font-size: 3em;
}

.new-radio {
    margin-right: 3em;
}

.new-radio label{
    padding-bottom: 1em;
    z-index: -1;
    font-size: 1.4em;
}

.new-radio input{
    padding-bottom: 1em;
    width: 2em;
    height: 1em;

}

.modal .modal-body {
    max-height: 90%;
    overflow-y: auto;
}

.typeahead.dropdown-menu {
    z-index: 1051;
}

#map_address_wrapper{
    height: 200px;
    padding-bottom: 1em;

}

.modal-font{
    font-size: 1.3em;
}
#loading-message{
    display: none;
    float: left;
    width: 40%;
}

.errorlist{
    color: #8b0000;
}
 /* Currently not used:
/*.logo{*/
    /*margin-top: 2%;*/
    /*margin-right: auto;*/
    /*margin-left:  auto;*/

/*}*/

.address-list{
    overflow-y:scroll;
    max-height: 250px
}


.datetimepicker{
    z-index: 1051;
}

.route-list{
    list-style: none;
}