#middle{
    border: red dotted;
    word-wrap: break-word;
}

#left{
    border: green solid;
    word-wrap: break-word;
}

#main{
    border: blue solid;

}

.center
{
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;

}

#pages ul{

    list-style: none;
    list-style-type: none;
}

#pages ul li{
    display: inline;

}


