#middle {
    border: red dotted;
    word-wrap: break-word;
}

#left {
    border: green solid;
    word-wrap: break-word;
}

#main {
    border: blue solid;

}

.center {
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;

}

#pages ul {

    list-style: none;
    list-style-type: none;
}

#pages ul li {
    display: inline;

}


#cart-list{
   margin-left: 0px;

}

.cart-info {
    width: 350px;
    display: inline-block;
    padding: 20px;
    margin: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .95);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .95);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    background-image: url('cart_image2.png');
    background-repeat: no-repeat;
    background-size: 199px 270px;
    background-position: 185px -20px;


}


.cart-info-header{
    margin-top: 45px;
   }

.cart-info-size{
    font-size: 5.5em;
    padding: 5px;
}


.cart-info-type{
    font-size: 2em;
    padding-top: 15px;
}

.cart-info-serial{

    display: inline-block;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);

    color: white;
    float: right;
    font-size: 1.10em;

}





