{% extends 'base.html' %}


{% block title %} Cart Search {% endblock %}

{% block left %}

{% endblock %}


{% block main_content %}

    <p id="cart-option-buttons" class="">
        <button class="btn  btn-info btn-large active" type="button"><span class="icon-list icon-white"></span>List it!
        </button>
        <button class="btn  btn-info btn-large" type="button"><span class="icon-map-marker icon-white"></span>Map it!
        </button>
    </p>

    <div id="results">
        <!--knockout: view for carts-->

        <!-- Cart search information -->

        <div id="result-header" class="alert alert-info">
            Search for cart <span data-bind="text:search_for_type().replace('_', ' ')"></span>
            <i><span data-bind="text:search_for_value"></span></i>
            returned <b data-bind="text: count() || 'No'"></b> result<span
                data-bind="visible:count() == 0 || count() > 1">s</span>:

            <span id="result-header-page">

              <span data-bind="visible:page() > 1">
                <a href="#results" data-bind="click: function(){getData(search_parameters, page()-1)}"> << </a>
              </span>

              <span>Page:<b data-bind="text:page"></b> of <i data-bind="text: total_pages"></i></span>

              <span data-bind="visible:page() < total_pages()">
                <a href="#top" data-bind="click: function(){getData(search_parameters, page()+1)}"> >> </a>
              </span>
            </span>
        </div>



        <!-- Iterate the results -->

        <div id="cart-list" data-bind="foreach: {data:carts, afterRender: Decorator}, visible: carts().length > 0">

            <div class="cart-info box-info">
                <a class="cart-info-link pull-right" data-bind="attr: {href: cart_url}">
                    <span class="cart-info-serial" rel="tooltip" data-bind="text: cart_serial()"></span>
                    <img class="cart-info-img" src="{{ STATIC_URL }}img/cart_image.png"/>
                </a>

                <div class="cart-info-text">
                    <div class="cart-info-header"><span class="cart-info-size" data-bind="text: cart_size()"></span>

                        <div class="cart-info-type" data-bind="text: cart_type()"></div>

                    </div>


                    <div class="cart-info-status label" data-bind="text:current_status,  css: current_status_level"></div>
                    Produced on: <b><div class="cart-info-born_date" data-bind="text: born_date()"></div></b>
                </div>

                 <div class="cart-info-address"><a data-bind="attr: {href: customer_url()}, text:address()"></a></div>
            </div>
        </div>

        <!--display page list if count is above  -->
        <div data-bind="visible:count() > records_per_page() " class="pagination pagination-large pagination-centered">
            <!-- looping through the page count -->

            <ul>
                <!-- setting to the previous page using count (see note below for more info)-->
                <li class="pager" data-bind="visible:page() > 1">
                    <a href="#results" data-bind="click: function(){getData(search_parameters, page()-1)}">Previous</a>
                </li>
                <li data-bind="visible:page() > 5 "><a class="">..</a></li>
                <!--ko foreach: ko.utils.range(1, total_pages() )-->
                <!--$data is equal to page  -->
                <li class="page"
                    data-bind="attr:{id: $data}, visible: $data < ($root.page() + 5) && $data > ($root.page() - 3)">
                    <a data-bind="text: $data, click:function(){$root.getData(search_parameters, $data) }"> </a></li>
                <!-- /ko -->
                <!-- show below if its not the last page-->
                <li data-bind="visible:page() < total_pages() - 1 && total_pages() > 5 "><a>..</a></li>
                <li class="pager" data-bind="visible:page() < total_pages()">
                    <a href="#top" data-bind="click: function(){getData(search_parameters, page()+1)}">Next</a>
                </li>
            </ul>
        </div>

    </div>

{% endblock %}

{% block right %}

{% endblock %}

{% block page_scripts %}
    <script src="{{ STATIC_URL }}js/cartmanager/views/CartListViewModel.js" xmlns="http://www.w3.org/1999/html"></script>
    <script src="{{ STATIC_URL }}js/cartmanager/models/cart.js" xmlns="http://www.w3.org/1999/html"></script>
    <!-- Data API variables: these are used to get JSON formatted data from the server -->
    <script type="text/javascript">
        var search_parameters = {{ search_parameters|safe}};
        var customer_url = "{% url customer_app_profile%}";
        var cart_url = "{% url cart_app_profile %}";
        var cart_search_api = "{% url cart_api_search %}";
        ko.applyBindings(new cartlogic.CartsListViewModel(), document.getElementById('results'));

    </script>

{% endblock %}