{% extends 'base.html' %}

{% block page_scripts %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/datatables/css/DT_bootstrap.css">
    <!-- Data API variables: these are used to get JSON formatted data from the server -->
    <script type="text/javascript">
        var serial_number = '{{ serial_number }}';
        var cart_api_url = "{% url cart_api_profile %}";
        var cart_app_url = "{% url cart_app_profile %}";
        var tickets_api_download = "{% url tickets_api_download %}";
        var customer_app_url = "{% url customer_app_profile %}";
        var cart_status_options_api_url = "{% url cart_status_api %}";
        var cart_type_options_api_url = "{% url cart_type_api %}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cartmanager/cart_profile.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/datatables/js/DT_bootstrap.js"></script>
{% endblock %}

{% block title %}Cart Profile {% endblock %}

{% block left %}
{% endblock %}

{% block main_content %}

    <div id="cart_profile" class="container-fluid">

        <div class="cart-info box-info">

            <a class="cart-info-link pull-left" data-bind="attr: {href: cart_profile_url()}">
                <span class="cart-info-serial" data-bind="text:serial_number"></span>
                <img class="cart-info-img" src="{{ STATIC_URL }}img/cart_image.png"/>
            </a>


            <p class="cart-info-header"><span class="cart-info-size" data-bind="text:size"></span></p>

            <p class="cart-info-type" data-bind="text:cart_type"></p>

            <p class="cart-info-status label" data-bind="text:current_status,  css: current_status_level"></p>
            Produced:<p class="cart-info-born_date" data-bind="text:born_date"></p>


        </div>

        <div id="cart-info-edit" class="box-info pull-right">
            <p class="cart-info-edit-title">Cart Profile:</p>

            <div id="cart-info-edit-text">
                <div class="well">
                    <a  href="#myModal" role="button" id="cart-info-edit-update" class="btn btn-info btn-large" data-toggle="modal"><i class="icon-home"> Change</i>
                    </a>
                    <p><a id="cart-info-edit-customer_name" data-bind="attr: {href: customer_url}"><span
                            class="icon-map-marker" data-bind="text:' '+customer_name()"></span></a></p>

                    <p id="cart-info-edit-street_address" data-bind="text: location_address"></p>
                </div>



                <!-- Modal -->
                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Modal header</h3>
                    </div>
                    <div class="modal-body">
                        <p>One fine body…</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-primary">Save changes</button>
                    </div>
                </div>






                <form class="form-inline well" data-bind="submit: saveCartData">

                    <fieldset>

                        <div class="control-group">


                            <div class="controls-row">
                                <label for="cart-info-edit-type" class="control-label">Type:</label>
                                <select id="cart-info-edit-type" class="input-medium" name="cart_type"
                                        data-bind="foreach:{data:cart_type_options}, event:{onLoad:changeCartType()}">
                                    <option data-bind="text: name(), value: id()"></option>
                                </select>
                                <button id="cart-info-edit-submit" class="btn btn-info  btn-large pull-right" type="submit"><i
                                        class="icon-save"> Update</i></button>
                            </div>

                            <div class="control-row">
                                <label for="cart-info-edit-status" class="control-label">Status:</label>

                                <select id="cart-info-edit-status" name="current_status" class="input-medium"
                                        data-bind="foreach:{data: cart_status_options}, event:{onLoad:changeCartStatus()}">
                                    <option data-bind="text: label(), value: id()"></option>
                                </select>
                            </div>

                            <div id="cart-info-edit-last_update"
                                 data-bind="text: 'Last Updated: ' + last_updated()"></div>

                        </div>
                    </fieldset>

                </form>


                <div id="cart-info-edit-rfid" data-bind="text: 'RFID Tag: ' + rfid()"></div>

            </div>
        </div>


    </div>


    <div id="ticket_panel"  class="dataTables_wrapper form-inline">
     <br>
        <table id="ticket_table"  cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered box-info" >
            <thead>
            <tr role="row">
                <th>Status</th>
                <th>Service Type</th>
                <th>Attempts</th>
                <th>Created On</th>
                <th>Last Updated</th>
                <th>House Number</th>
                <th>Street</th>
                <th>Unit</th>
                <th>Removed Cart RFID?</th>
                <th>Delivered Cart RFID?</th>
                <th>Audit Cart RFID?</th>
            </tr>
            </thead>
            <tbody role="alert">

            </tbody>
        </table>

    </div>



{% endblock %}


{% block right %}
{% endblock %}


