<div id="create_ticket">

    <div id="new_ticket" data-bind="template: {name: 'CurrentTemplate', data: create.currentStep }">
    </div>
    <div class="modal-footer">
        <button class="btn btn-large pull-left" data-dismiss="modal" aria-hidden="true" data-bind="visible: !(create.isCompleteStep())">Cancel</button>
        <button class="btn btn-large" data-bind="click: create.goPrevious, visible: create.canGoPrevious"><i
                class="icon-caret-left"> </i>Previous
        </button>
        <button class="btn btn-large" data-bind="click: create.goNext, visible: create.canGoNext ">Next <i
                class="icon-caret-right"></i>
        </button>

        <button class="btn btn-large" data-bind="visible: create.isCompleteStep" data-dismiss="modal" aria-hidden="true">Close
        </button>

        <button class="btn btn-large btn-primary" data-bind="visible: create.isConfirmStep, click: create.createNewTicket">Save changes</button>
    </div>
</div>

<!--Main Template: all others wizard windows use this insert data to the modal body -->
<script id="CurrentTemplate" type="text/html">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 data-bind="html: name"></h4>
    </div>

    <div class="modal-body" data-bind="template: {name: getTemplate, data: model }">
    </div>

</script>


<script id="SelectServiceType" type="text/html">
    <p data-bind="text: message"></p>

    <p data-bind="text: $root.create.service_type"></p>

    <div data-bind="foreach: $root.create.service_type_options">
        <label data-bind="for: $data, text: $data"></label>
        <input type="radio" name="service_type" data-bind="id: $data, value: $data, checked: $root.create.service_type">


    </div>

</script>


<script id="SearchAddress" type="text/html">

    <p data-bind="html: message"></p>

    <div id='location_search' data-bind="with: $root.create">

        <p data-bind="text: cart_address"></p>

        <input type="text" data-bind="value: cart_address_search, valueUpdate: 'afterkeyup', event:{keyup: searchAddress}">


        <div data-bind="foreach: addressList">

            <label data-bind="for: id, text: house_number() +' '+ street_name()+' '+ unit()"></label>

            <input type="radio" name="address"
                   data-bind="id: id, value: house_number() +' '+ street_name(), checked: $root.create.cart_address_search,
                    click: $root.create.set_address_cart_list"><br>
        </div>

    </div>
</script>


<script id="ConfirmAddress" type="text/html">
    <p data-bind="html: message"></p>

    <p data-bind="text: $root.create.cart_full_address"></p>
</script>


<script id="SelectSerial" type="text/html">
    <p data-bind="html: message"></p>



    <div data-bind="visible: $root.create.cartSerialList().length == 0" class="text-error">
        <p> <i>No carts at this Address.</i> <br> Are you sure you want to create a Service Type of
            <u><b><span data-bind=" text: $root.create.service_type"></span></b></u>  </span> <br>
            <b>Please click Cancel and Start Over</b></p>
    </div>



    <div data-bind="foreach: $root.create.cartSerialList, visible: $root.create.cartSerialList().length > 0">
         <label data-bind="for: serial_number, text: 'Cart Serial: ' + serial_number"></label>
        <input type="radio" name="address"
               data-bind="id: serial_number, value: serial_number, checked: $root.create.cart_serial_number">
    </div>


</script>

<script id="ConfirmSerial" type="text/html"><b>Please click Cancel and Start Over</b>
    <p data-bind="html: message"></p>

    <p data-bind="text: $root.create.cart_serial_number"></p>
</script>


<script id="SelectCartSize" type="text/html">
    <p data-bind="html: message"></p>

    <p data-bind="text: $root.create.cart_size"></p>

    <div data-bind="foreach: $root.create.cart_type_unique_sizes">
        <label data-bind="for: $data, text: $data"></label>
        <input type="radio" name="cart_size" data-bind="id: $data, value: $data, checked: $root.create.cart_size">
    </div>


</script>

<script id="SelectCartType" type="text/html">
    <p data-bind="html: message"></p>
    <p data-bind="text: $root.create.cart_type"></p>
    <p data-bind="foreach: $root.create.cart_type_unique_type">
        <label data-bind="for: $data, text: $data"></label>
        <input type="radio" name="cart_type" data-bind="id: $data, value: $data, checked: $root.create.cart_type">
    </p>
</script>


<script id="ConfirmTicket" type="text/html">
    <p data-bind="text: message"></p>

    <p data-bind="html: 'SERVICE ADDRESS: ' +  $root.create.cart_full_address()">
    </p>


    <p data-bind="html: 'SERVICE TYPE: <b>' + $root.create.service_type() + '</b>' "></p><br>
        <!-- ko if: ($root.create.service_type() == 'Delivery' || $root.create.service_type() == 'Exchange') -->
         <p><b>Create one Delivery or Delivery Exchange Ticket:</b></p>
         <p data-bind="html: 'CART SIZE:  ' + $root.create.cart_size()"></p>
         <p data-bind="html: 'CART TYPE:  ' + $root.create.cart_type()"></p>
         <!-- /ko -->

        <!-- ko if: ($root.create.service_type() == 'Exchange' || $root.create.service_type() == 'Remove') -->
        <p><b>Create one Removal or Removal Exchange Ticket:</b></p>
        <p data-bind="html:'CART SERIAL:  '+ $root.create.cart_serial_number()"></p>
        <!-- /ko -->

</script>

<script id="Complete" type="text/html">
     <p data-bind="css:{'text-success': $root.create.server_message_type() == 'Success', 'text-error':
      $root.create.server_message_type() == 'Failed'}, text: $root.create.server_message_type"></p>
    <p data-bind="text: $root.create.server_message"></p>

</script>
{% load compressed %}
{% compressed_js 'views_ticket_create' %}
{% compressed_js 'models_form_steps' %}
{% compressed_js 'models_location' %}


{% comment %}
<script type="text/javascript" src="{{ STATIC_URL }}js/cartmanager/views/TicketCreateViewModel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/cartmanager/models/form_steps.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/cartmanager/models/location.js"></script>
{% endcomment %}


<script type="text/javascript">
    //Globals coming from incoming request
    var cart_serial_number = '{{ serial_number }}' || null;
    var cart_id = '{{ cart_id }}' || null;
    var location_id = '{{ location_id }}' || null;
    var cart_address = '{{ cart_address }}' || null;
    var cart_address_unit ='{{ cart_address_unit }}' || null;
    var cart_address_street_name = '{{ cart_address_street_name }}' || null;
    var cart_address_house_number = '{{ cart_address_house_number }}' || null;
    var ticket_id = '{{ticket_id }}' || null;
    var ticket_api = '{% url ticket_api %}';
    var location_api_search = "{% url location_api_search  %}";
    var cart_type_api = "{% url cart_type_api %}";
    var ticketCreate = {
        create:new cartlogic.TicketCreateViewModel
    };

    ko.applyBindings(ticketCreate, document.getElementById('create_ticket'));


</script>