{% extends 'base.html' %}
{% block title %}Ticket Reports (Download){% endblock %}
{% block main_content %}

    <div class="box-info">
        <div id="ticket-query" class="well search-queries" data-bind="with: $root.report">
            Show <select id="ticket-query-select-status" data-bind="options: ticket_status_options,
             value: selected_status" class="input-medium"></select> tickets for
            <select id="ticket-query-select-type" data-bind="options: $root.report.ticket_type_options,
             value: selected_type" class="input-large"></select> services, and
            <select id="ticket-query-cart-type" data-bind="options: cart_type_options,
            value: selected_cart_type" class="input-medium"></select> cart type(s), and
            <select id="ticket-query-cart-type-size" data-bind="options: cart_size_options,
            value: selected_cart_size" class="input-small"></select> gallon cart(s).
            <button id="on_screen" class="run_query btn-primary"> Go <i class="icon-arrow-right"></i></button>

                        <div id="ticket-query-advanced">
                <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#ticket-query-advanced-options">
                    <i class="icon-plus-sign"></i> More Options
                </button>

                <div id="ticket-query-advanced-options" class="collapse">
                    <div>
                        <label for="ticket-query-report-type">Report Download Type</label>
                        <select id="ticket-query-report-type" data-bind="options: $root.report.ticket_report_options,
                        optionsText: 'display', value:$root.tickets.report_type">

                        </select>
                    </div>
                    <div>
                        <select id="ticket-query-search-day-type" data-bind="options:$root.report.search_days_type_options,
                                value:$root.report.search_days_type">

                        </select>
                        <label for="ticket-query-search-days">within the last:</label>
                        <select id="ticket-query-search-days" data-bind="options:$root.report.search_days,
                     optionsText:'display', value:$root.report.selected_search_days"> </select>
                        <label for="ticket-query-search-days-input">or exactly:</label>
                        <input id="ticket-query-search-days-input" type="number"
                               data-bind="value:$root.report.selected_search_days().value"  min="0" size="4" style=" width: 4em"> <label>day(s).</label>
                    </div>
                    <div>
                    <label>Or From: </label><input id="from_date" class="datepicker" type="text" style=" width: 8em" data-bind="value:$root.search_from_date" /><label>To:
                    </label><input id="to_date" class="datepicker" type="text" style=" width: 8em" data-bind="value: $root.search_to_date">
                    </div>
                    <div>
                        <label for="ticket-query-select-route-type">Route Type:</label>
                        <select id="ticket-query-select-route-type" data-bind="options: $root.report.route_types,
                    value: $root.report.selected_route_type"> </select>
                        <label for="ticket-query-select-route-day">Route Day:</label>
                        <select id="ticket-query-select-route-day" data-bind="options: $root.report.route_days,
                    value: $root.report.selected_route_day"> </select>
                        <label for="ticket-query-select-route">Route:</label>
                        <select id="ticket-query-select-route" data-bind="options: $root.report.filtered_routes,
                    optionsText:'route', value: $root.report.selected_route"> </select>
                    </div>
                    <br>

                    <!-- ko if: ($root.report.service_charge_options().length > 0) -->
                    <div>
                        <label for="ticket-query-select-charge">Charge is:</label>
                        $<select id="ticket-query-select-charge" data-bind="options: $root.report.service_charge_options,
                    value: $root.report.selected_charge"></select>
                        <label for="ticket-query-select-remove-no-charge">Remove no charge </label>
                        <input id="ticket-query-select-remove-no-charge"
                               value=1 data-bind="checked:$root.report.no_charges" type="checkbox">
                    </div>
                    <!-- /ko -->
                </div>
            </div>




            <div id="ticket-query-download">
                Downloads:
                <button id="download_csv" class="run_query btn btn-success" title="Download CSV">
                    <i class="icon-th">CSV</i></button>
                <button id="download_pdf" class="run_query btn btn-success" title="Download PDF">
                    <i class="icon-file">PDF</i></button>
            </div>
        </div>
    </div>

    <div id="ticket_panel" data-bind="with: tickets">
        <div id="ticket-table" class="gridStyle box-info" data-bind="koGrid: gridOptions" style="height: 500px">
        </div>

    </div>

{% endblock %}

{% block page_scripts %}
    {% load compressed %}
    {% compressed_js 'models_ticket' %}
    {% compressed_js 'models_route' %}
    {% compressed_js 'views_tickets_list' %}
    {% compressed_js 'views_tickets_report' %}



    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/vendor/knockout/kogrid/KoGrid.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/knockout/kogrid/koGrid-2.1.1.js"></script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}js/vendor/bootstrap/datetimepicker/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        var customer_id = null;
        var cart_serial_number = null;
        var tickets_api_download = "{% url "tickets_api_download" %}";
        var ticket_service_type_api = "{% url "ticket_service_type_api" %}";
        var ticket_app_profile_url = "{% url "ticket_app_profile" %}";
        var ticket_status_api = "{% url "ticket_status_api" %}";
        var cart_type_api = "{% url "cart_type_api" %}";
        var cart_app_profile_url = "{% url "cart_app_profile" %}";
        var route_search_api_url = "{% url "route_search_api" %}";
        var cart_service_charge_api_url = "{% url "cart_service_charge_api" %}";
        var ticketsReport = {
            report: new cartlogic.TicketsReportViewModel,
            tickets: new cartlogic.TicketsListViewModel(null, null, tickets_api_download)
        };

        ko.applyBindings(ticketsReport, document.getElementById('main'));

        ticketsReport.tickets.getPagedDataAsync();

    </script>

{% endblock %}
