{% extends 'base.html' %}



{% block title %}Ticket Profile {% endblock %}

{% block left %}
{% endblock %}

{% block main_content %}

    <div id="ticket-profile" class="container-fluid" data-bind="with:profile.ticket">

    <div id="ticket-info" class="box-info row">

        <div id="ticket-profile-title" class="info-title"><i class="icon-tag"> </i> Service Ticket Profile: <i
                data-bind="text: id"></i></div>

        <div id="ticket-info-display" class="well">
            <div id="ticket-info-status" class="label info-status ticket-info-status "
                 data-bind="css: status__level">
                <p id="ticket-info-service-status" data-bind="text: status__service_status"></p>
                <!-- ko if: reason_code__description() != "---" -->
                <br>

                <p id="ticket-info-reason-code" data-bind="text: reason_code__description"></p>
                <!-- /ko -->
            </div>
            <div class="ticket-info-address">Location: <a
                    data-bind="text: location_address(), attr:{href: location__customer__get_app_url()}"></a></div>
            <div class="ticket-info-service-type"
                 data-bind="html: '<u>' + service_type__service() + ' of ' +  + cart_type__size() + ' ' + cart_type__name() + '</u>'"></div>
            <!-- ko if: serviced_cart__serial_number() != "---" -->
            <div>Serviced Cart: <a
                    data-bind=" text: serviced_cart__serial_number() ,attr:{href:'{% url "cart_app_profile" %}' + serviced_cart__serial_number()}"> </a>,
                <span data-bind="text: 'Size: ' + serviced_cart__cart_type__size() + ', Type: ' + serviced_cart__cart_type__name()"></span>
            </div>
            <!-- /ko -->
            <!-- ko if: expected_cart__serial_number() != "---" -->
            <div>Expected Cart: <a
                    data-bind=" text: expected_cart__serial_number() ,attr:{href:'{% url "cart_app_profile" %}' + expected_cart__serial_number()}"> </a>,
                <span data-bind="text: 'Size: ' + cart_type__size() + ', Type: ' + cart_type__name()"></span>
            </div>
            <!-- /ko -->
            <br>

            <div id="ticket-info-device-name"
                 data-bind="html: '<b>Device Name</b> ' + device_name(), visible: device_name"></div>
            <div id="ticket-info-processed" data-bind="html: '<b>Processed:</b> ' + processed()"></div>
            <div id="ticket-info-attempts" data-bind="html: 'Attempts: ' + success_attempts()"></div>
            <br>

            <div id="ticket-info-charge" data-bind="html: '<b>Charge:</b> $' + charge()"></div>
            <div data-bind="html: '<b>Date Created:</b> ' + date_created()"></div>
            <!-- ko if not: date_completed -->
            <div data-bind="html: '<b>Date Completed: </b> ' + date_completed()"></div>
            <!-- /ko -->

            <div id="ticket-info-parts" data-bind="visible: cart_parts()">
                <b>Damaged Parts:</b>

                <div data-bind="foreach: cart_parts">
                    <span data-bind="html:  $data + ', '"></span>
                </div>
            </div>
            <br>

            <div data-bind="html: '<b>Created by:</b> ' + created_by__username()"></div>
            <div data-bind="html: '<b>Updated by:</b> ' + updated_by__username()"></div>


        </div>

        <div id="ticket-info-edit" class="well">

            <div id="ticket-info-edit-section">
                <!-- ko if: $root.profile.ticket().status__service_status() != 'Completed' -->
                <div class="control-group">
                    <label class="control-label">Add Serviced Cart:</label>
                    <br>

                    <div class="controls">
                        <input id="add-serial-number" name="add-serial-number"
                               data-bind="value: $root.profile.add_serial_number" type="text"
                               placeholder="Type Serial Number"
                               class="input-xlarge search-query" style="height: 2.1em; padding-right: 10%">
                        <button class="btn btn-primary"
                                data-bind="click:function(){$root.profile.updateTicket('Completed')}">Complete
                        </button>
                        <button class="btn  btn-info"
                                data-bind="click:function(){$root.profile.updateTicket('Unsuccessful')}"><i
                                class="icon-plus"></i>Attempt
                        </button>
                        <button class="btn  btn-danger" data-bind="click:function(){$root.profile.confirmDeleteTicket()}">
                            Delete
                        </button>

                    </div>
                    <br>
                    <hr style="border-color: gray">
                </div>
                <!-- /ko -->


                <!-- ko if: $root.profile.ticket_comments().length > 0 -->
                <p style="font-size: 2.1em"><i class="icon-comments-alt icon-2x"> </i>Comments:</p>
                <!-- /ko -->
                <div id="ticket-info-comments" data-bind="foreach: $root.profile.ticket_comments">

                    <p class="comment alert alert-info">
                        <span data-bind="html: '<b>' + created_by() + '</b>  said: ' "></span>
                        <br><br>
                        <i class="icon-quote-left"> </i><span data-bind="text:text"></span>
                        <i class="icon-quote-right"> </i>
                        <br>
                        <span class="ticket-info-comment-date" data-bind="text: date_created "></span>
                        <br><br>
                        <!-- Only show delete button if comment was created by the current user-->
                        <button class="btn btn-small btn-danger pull-right"
                                data-bind="click:
                         function(data, event){$root.profile.deleteComment(data)},
                          visible: created_by() == '{{ user.username }}' ">Delete
                        </button>
                        <br><br>
                    </p>

                </div>


                <div id="info-new-comment">

                    <label for="info-new-comment-text" style="font-size: 2.1em"><i class="icon-comment"> </i>New Comment</label>
                    <textarea id="info-new-comment-text" name="text" rows="7" cols="50"></textarea>

                    <button class="btn btn-large btn-info" data-bind="click: $root.profile.saveComment"> Add</button>

                </div>


            </div>


        </div>

        <div id="delete_confirm" style="display: none;" class="modal hide fade" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>

                <h3>Confirm Delete Ticket</h3>
            </div>
            <div class="modal-body" id="confirm_delete_ticket">

            </div>
            <div class="modal-footer">
                <button data-bind="click: function(){$root.profile.deleteTicket()}" class="btn btn-danger">Delete</button>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>


    </div>


{% endblock %}


{% block right %}
{% endblock %}

{% block page_scripts %}
    {% load compressed %}
    {% compressed_js 'views_ticket_profile' %}
    {% compressed_js 'models_ticket' %}
    {% compressed_js 'models_comments' %}
    {% compressed_js 'models_ticket_status' %}
    {% compressed_js 'models_location' %}


    <script type="text/javascript">
        var user_name = '{{ user.username }}';
        var ticket_id = '{{ticket_id }}' || null;
        var ticket_api = '{% url "ticket_api" %}';
        var ticket_status_api = '{% url "ticket_status_api" %}';
        var ticket_comment_api = '{% url "ticket_comment_api" %}';
        var ticketProfile = {
            profile: new cartlogic.TicketsProfileViewModel()
        };

        ko.applyBindings(ticketProfile, document.getElementById('main'));

    </script>
{% endblock %}