{% extends 'base.html' %}

{% block title %}Uploaded Files{% endblock %}

{% block main_content %}

    <div class="box-info" data-bind="with: files">
     <div id="file-query" class="well search-queries">
         Show <select id="file-query-type" data-bind="options: file_status_options, value: file_status"></select> status types
         for <span data-bind="text: file_type" class="input-large"></span> files.
         <button class="btn-primary run_query"> Go <i class="icon-arrow-right"></i></button>
   </div>

    </div>

    <div id="uploaded_files" data-bind="with: files">
       <div id="ticket-table" class="gridStyle box-info" data-bind="koGrid: $data.gridOptions" style="height: 400px"></div>
    </div>

{% endblock %}

{% block page_scripts %}
    {% load compressed %}
    {% compressed_js 'views_uploaded_file_report' %}
    {% compressed_js 'models_file' %}

   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/vendor/knockout/kogrid/KoGrid.css" />
   <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/knockout/kogrid/koGrid-2.1.1.js"></script>

    <script type="text/javascript">
        var file_type = '{{ file_type }}' || null;
        var file_status = '{{ file_status }}' || 'ALL';
        var file_id = '{{ file_id }}' || 0;
        var upload_file_list_api_url = '{% url "upload_file_list_api"  %}' || null;
        var UploadedFileReport = {
            files: new cartlogic.UploadedFileReportViewModel(file_type, file_status, file_id, upload_file_list_api_url)
        }
        ko.applyBindings(UploadedFileReport, document.getElementById('main'));
        UploadedFileReport.files.getPagedDataAsync();

    </script>

{% endblock %}