{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fileupload-ui.css">
{% endblock %}


{% block title %} {{ link }} {% endblock %}

{% block left %}

{% endblock %}

{% block main_content %}

    {% comment %}{% if completed  %}
    TOTAL RECORDS PROCESSED: {{ total_count }}
    TOTAL GOOD:  {{ good_count }}
    TOTAL ERROR: <a href="{% url upload_errors %}"> {{ error_count }}</a>
   <a href=""> {{ link }} </a>
{% else %}

   {{ form.as_p }}
{% endcomment %}

    <div id="fileupload-wrapper" class="box-info">
     <h1>{{ link }}</h1>

        <form id="fileupload" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <span id="add-file" class="btn btn-success btn-large fileinput-button">
         <i class="icon-plus icon-white"></i>
        <span>Add File ..</span>
        <input id="upload_file" type="file" name="upload_file">
        </span>
            <button id="upload_button" class="btn btn-large btn-info" style="display: none"> Upload Now</button>
            {% comment %} #TODO implement processing option Process: <input type="checkbox" value="true" name="process"/>{% endcomment %}
        </form>
        <div id="fileupload-message"></div>

   {% comment %}     <div id="progress" class="progress progress-info progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>{% endcomment %}
    </div>

    {% comment %}
{% endif %}
{% endcomment %}

{% endblock %}

{% block right %}

{% endblock %}

{% block page_scripts %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery/jquery.fileupload.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#fileupload').fileupload({
                type:'POST',
                dataType:'json',
                add:function (e, data) {
                    $("#upload_button").click(function () {
                        data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                        data.submit();
                        $("#add-file").hide();
                        $("#progress").show();
                    });
                },
               {% comment %} //TODO Progress bar
               progress: function (e, data) {
                   var progress = parseInt(data.loaded / data.total * 100, 10);
                    $("#progress .bar").css(
                            'width',
                            progress + '%'
                    )

                },{% endcomment %}

                change:function (e, data) {
                    //TODO add upload file name and size here
                    $("#fileupload-message").text(data.files[0].name);
                    $("#upload_button").show();

                },


                done:function (e, data) {
                    data.context.text('Upload finished');
                    console.log(data.result)
                    $("#fileupload-message").html("<p> TOTAL RECORDS PROCESSED: "+data.result.details.total_count
                    +"</p><p class='text-success'>SUCCESS: " + data.result.details.good_count +
                            "<p class='text-error'> ERROR:  <a href='{% url upload_errors %}'>"+ data.result.details.error_count +"</a></p>  Retry: <a href=''> {{ link }} </a>");

                },
                fail:function (e, data) {
                    $("#message").removeClass("alert-info")
                            .addClass("alert-error")
                            .html("Error:" + data.statusText).show();
                   //  data.errorThrown;
                    // data.textStatus;
                    // data.jqXHR
                }

            });
        });


    </script>

{% endblock %}




