{% extends 'base.html' %}



{% block title %}Cart Profile {% endblock %}

{% block left %}
{% endblock %}

{% block main_content %}

    <div id="cart_profile" class="row-fluid" data-bind="with: profile.cart">


        <div class="cart-info box-info">

            <a class="cart-info-link pull-left" data-bind="attr: {href: cart_profile_url}">
                <span class="cart-info-serial" data-bind="text: serial_number"></span>
                <img class="cart-info-img" src="{{ STATIC_URL }}img/cart_image.png"/>
            </a>


            <div class="cart-info-header"><span class="cart-info-size" data-bind="text: size"></span></div>

            <div class="cart-info-type" data-bind="text:cart_type"></div>

            <div class="cart-info-status label" data-bind="text: current_status,  css: current_status_level"></div>
            <br>
            Produced:
            <div class="cart-info-born_date" data-bind="text: born_date">

            </div>
        </div>

        <div id="cart-info-edit" class="box-info pull-right span7">
            <p class="cart-info-edit-title">Cart Profile:</p>

             <div id="cart-info-edit-text">
                <div class="well">
                    <a href= "{% url cart_app_address_change %}{{ serial_number}}" data-target="#modal_window"  id="cart-info-edit-update"
                       class="btn btn-info btn-large" data-toggle="modal"><i class="icon-home"> Change</i>
                    </a>

                    <p><a id="cart-info-edit-customer_name" data-bind="attr: {href:customer_url}"><span
                            class="icon-map-marker" data-bind="text:customer_name"></span></a></p>

                    <p id="cart-info-edit-street_address" data-bind="text:location_address"></p>
                </div>


                 <form class="form-inline well" data-bind="submit: $root.profile.saveCartData">

                    <fieldset>

                        <div class="control-group">


                            <div class="controls-row">
                                <label for="cart-info-edit-type" class="control-label">Type:</label>
                                <select id="cart-info-edit-type" class="input-large" name="cart_type"
                                        data-bind="foreach:{data: $root.profile.cart_type_options}">
                                    <option data-bind="text: name, value: id" selected="selected"></option>
                                </select>
                                <button id="cart-info-edit-submit" class="btn btn-info  btn-large pull-right"
                                        type="submit"><i class="icon-save"> Update</i></button>
                            </div>

                            <div class="control-row">
                                <label for="cart-info-edit-status" class="control-label">Status:</label>

                                <select id="cart-info-edit-status" name="current_status" class="input-large"
                                        data-bind="foreach:{data: $root.profile.cart_status_options}">
                                    <option data-bind="text: label(), value: id()"></option>
                                </select>
                            </div>

                            <div id="cart-info-edit-last_update"
                                 data-bind="text: 'Last Updated: ' + last_updated()"></div>

                        </div>
                    </fieldset>

                </form>

                <div id="cart-info-edit-rfid" data-bind="text: 'RFID Tag: ' + rfid()"></div>

            </div>
        </div>

        <br>

        <div id="cart-info-map" class="box-info">
            <div id="map_canvas" style="width: 100%; height: 96%">
            </div>
            <button class="pull-left btn-small btn-info"><i
                    class="icon-fullscreen icon"></i> Expand
            </button>

        </div>

    </div>


    <div id="ticket_panel" data-bind="with: tickets">


        <ul class="pager pull-left" data-bind="visible:count() > records_per_page()">
            <li class="pager" data-bind="visible:page() > 1">
                <a data-bind="click: function(){getTickets(serial_number, page()-1)}"> << Previous</a>
            </li>
            <li class="pager" data-bind="visible:page() < total_pages()">
                <a href="#" data-bind="click: function(){getTickets(serial_number, page()+1)}">Next >></a>
            </li>
        </ul>

        <ul class="pager pull-right">
            <li><a class="btn btn-large btn-link"
                   data-bind="attr: {href:'{% url ticket_app_new %}New?cart_id=' + $root.profile.cart_id()} "
                   data-target="#modal_window" data-toggle="modal" role="dialog"><i class="icon-tag">New Ticket</i></a>
            </li>
        </ul>

        <table id="ticket_table" class="table table-sorter table-striped table-hover table-condensed  box-info">
            <thead>
            <tr role="row" data-bind="foreach: ticket_table_headers">

                <th class="sort-header" data-bind="css:{'sort-down': sort()  == 1, 'sort-up': sort() == 2 }, text: displayName, id: displayName,
                click:function(data, event){$parent.sortTickets(serial_number, 1, data, event)}"></th>

            </tr>
            </thead>
            <tbody role="alert" data-bind="foreach: tickets()">
            <tr>
                <td data-bind="text: status"></td>
                <td data-bind="text: service_type"></td>
                <td data-bind="text: success_attempts"></td>
                <td data-bind="text: date_created"></td>
                <td data-bind="text: date_last_attempted"></td>
                <td data-bind="text: house_number"></td>
                <td data-bind="text: street_name"></td>
                <td data-bind="text: unit"></td>
                <td data-bind="text: serviced_cart"></td>
                <td data-bind="text: expected_cart"></td>
                <!-- #TODO put ticket id here for button -->
                <td>
                    <button class="btn-small, btn-info" data-bind="text: id"></button>
                </td>
            </tbody>

            <tfoot data-bind="visible: count() == 0 ">

            <tr>
                <td class="text-warning">NO TICKETS FOUND THIS CART!</td>
            </tr>
            </tfoot>


        </table>
    </div>


{% endblock %}


{% block right %}
{% endblock %}

{% block page_scripts %}



    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcDSYkOfnoKvp7Fjk-3u0Gwxx-d7a1GW8&sensor=false">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cartmanager/models/cart_profile.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cartmanager/models/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cartmanager/models/cart_status.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cartmanager/views/CartProfileViewModel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cartmanager/models/ticket.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cartmanager/views/TicketsListViewModel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/tablesorter/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/tablesorter/jquery.metadata.js"></script>


    <!-- Data API variables: these are used to get JSON formatted data from the server -->
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">

        var serial_number = '{{ serial_number }}';
        var cart_api_profile = "{% url cart_api_profile %}";
        var cart_app_url = "{% url cart_app_profile %}";
        var tickets_api_download = "{% url tickets_api_download %}";
        var customer_app_url = "{% url customer_app_profile %}";
        var cart_status_options_api_url = "{% url cart_status_api %}";
        var cart_type_options_api_url = "{% url cart_type_api %}";
        var cart_app_profile_map = "{% url cart_app_profile_map %}";


        var cartProfile = {
            tickets:new cartlogic.TicketsViewModel,
            profile:new cartlogic.CartProfileViewModel
        };

        ko.applyBindings(cartProfile, document.getElementById('main'))

    </script>


{% endblock %}
