{% extends 'base.html' %}
{% load i18n %}

{% block title %}Email changed! {{ site.name }}{% endblock %}

{% block content_title %}<h2>{% trans 'New email' %}</h2>{% endblock %}
{% block content %}
    {% block main_content %}
        <div class="box-info middlebox">
            <img src="{{ STATIC_URL }}img/CartLogicLogo2013.png" style="width: 40%">
            <br><br>

            <p>{% blocktrans with current_site.name as site %}Your new email address is saved. You can continue using
                <b>{{ site }}</b>
                with your new email.{% endblocktrans %}</p>
        </div>
    {% endblock %}
{% endblock %}
