{% extends 'base.html' %}
{% load i18n %}


{% block title %} Password Reset on {{ site_name }}  {% endblock %}


{% block navbar %}

{% endblock %}


{% block main_content %}
    {% block content %}
        <div class="box-info middlebox">
        {% block content_title %}<h2>{% trans "Your password has been reset" %}</h2>{% endblock %}

        {% url 'user_signin' as signin_url %}
        {% blocktrans %}You can now <a href="{{ signin_url }}">Signin</a> with your new password.{% endblocktrans %}
    {% endblock %}
</div>

{% endblock %}
