{% extends 'base.html' %}

{% block page_scripts %}
    <script src="{{ STATIC_URL }}js/cartmanager/cart_search.js" xmlns="http://www.w3.org/1999/html"></script>

    <!-- Data API variables: these are used to get JSON formatted data from the server -->
    <script type="text/javascript">
        var search_parameters = {{ search_parameters|safe}};
        var customer_url = "{% url customer_app_profile%}";
        var cart_url = "{% url cart_app_profile %}";
        var location_url = "{% url location_app_profile %}";
    </script>

{% endblock %}


{% block title %} Cart Search {% endblock %}

{% block left %}
    <div>
        <b> {{ search_parameters }}</b>

    </div>
{% endblock %}


{% block main_content %}



    <div id="results">
        <!--knockout: view for carts-->

        <!-- Cart search information -->
        <div id="result_header">
            Search for cart <span data-bind="text:search_for_type().replace('_', ' ')"></span>
            <i><span data-bind="text:search_for_value"></span></i>
            returned <b data-bind="text: count() || 'No'"></b> result<span
                data-bind="visible:count() == 0 || count() > 1">s</span>:
            <p><b data-bind="text:page"></b> of <i data-bind="text: total_pages"></i></p>
        </div>
        <!--- <p ><span data-bind="text:"></span></p>
         <p data-bind="text: cart_size() + ' ' + cart_type()"></p>
         Serial Number: <a data-bind="attr: {href: cart_url, title: cart_serial}, text: cart_serial"></a> -->

        <!-- Iterate the results -->

        <div id="cart-list" data-bind="foreach: {data:carts, afterRender: Decorator}, visible: carts().length > 0">

            <div class="cart-info">

                <p class="cart-info-header"><span class="cart-info-size" data-bind="text: cart_size()"></span>
                    <a class="cart-info-serial" rel="tooltip"
                       data-bind="attr: {href: cart_url}, text: cart_serial()"></a><br>
                    <span class="cart-info-type" data-bind="text: cart_type()"></span>
                </p>

                <p class="pull-left btn btn-success" data-bind="text: current_status"></p>
                <dl class=" pull-left">
                    <dt>Address:
                    <dd data-bind="text:address()"></dd>
                    </dt>
                    <dt>Produced on:
                    <dd data-bind="text: born_date() "></dd>
                    </dt>
                </dl>

                <br><br>

            </div>
        </div>

        <!--display page list is count is above #TODO -->
        <div data-bind="visible:count() > records_per_page() " class="pagination pagination-large pagination-centered">
            <!-- looping through the page count -->

            <ul>
                <!--create the page links here, note the click calls the getData passing parameters from the server
                   (i.e. top of the cart_search.html) and the current count (i.e. the page). Should look to
                   remove the click function() and just create a init and update on the getData function
                   this would be cleaner... next time.
                 -->
                <!-- seting to the previous page using count (see note below for more info)-->
                <li class="pager" data-bind="visible:page() > 1">
                    <a href="#results" data-bind="click: function(){getData(search_parameters, page()-1)}">Previous</a>
                </li>
                <li data-bind="visible:page() > 5 "><a class="">..</a></li>
                <!--ko foreach: ko.utils.range(1, total_pages() )-->
                <!--$data is equal to page  -->
                <li class="page"
                    data-bind="attr:{id: $data}, visible: $data < ($root.page() + 5) && $data > ($root.page() - 3)">
                    <a data-bind="text: $data, click:function(){$root.getData(search_parameters, $data) }"> </a></li>
                <!-- /ko -->
                <!-- show below if its not the last page-->
                <li data-bind="visible:page() < total_pages() - 1 && total_pages() > 5 "><a>..</a></li>
                <li class="pager" data-bind="visible:page() < total_pages()">
                    <a href="#top" data-bind="click: function(){getData(search_parameters, page()+1)}">Next</a>
                </li>
            </ul>
        </div>

    </div>

{% endblock %}

{% block right %}
{% endblock %}