{% extends 'base.html' %}

{% block page_scripts %}
       <!-- Data API variables: these are used to get JSON formatted data from the server -->
    <script type="text/javascript">
        var serial_number = '{{ serial_number }}';
        var cart_url = "{% url cart_api_profile %}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cartmanager/cart_profile.js"></script>
{% endblock %}

{% block title %}Cart Profile {% endblock %}

{% block left %}
{% endblock %}

{% block main_content %}
     <div id="cart_profile">
        <form>
            Serial: <input name="serial" data-bind="value: serial_number"/><br>
            Size: <input name="size" data-bind="value:size"/><br>
            Current Status: <input name="current_status" data-bind="value: current_status"/><br>
            Cart Type: <input name="cart_type" data-bind="value: cart_type"/><br>

                Produced on: <span id="born_date" data-bind="text:born_date"></span><br>
                Last Updated: <span id="last_updated" data-bind="text:last_updated"></span><br>
            
            <input type="submit" name="updated"/>
        </form>

         <div id="cart_location">
             <span>Cart Location:</span><br>
             <span id="customer_name" data-bind="text: customer_name"></span><br>
             Address:
             <span id="street_address" data-bind="text: location_address"></span><br>
         </div>

        <div id="location_modal">




        </div>


    </div>



{% endblock %}


{% block right %}
{% endblock %}


