<!DOCTYPE html>
<html>
<head>
    <title>Cart Search</title>
</head>
<body>

<div id="search_box">

    <form action=""  method="GET">


        <fieldset>
            <label for="serial">Serial Number</label>
            <input type="text" id="serial" name="serial" />

            <input type="checkbox"  id="size_35" value = "1"  name="size_35"/>
            <label for="size_35">35 Gallon</label>

            <input type="checkbox" id="size_64" value = "1" name="size_64"/>
            <label for="size_64">64 Gallon</label>

            <input type="checkbox" id="size_96" value = "1" name="size_96"/>
            <label for="size_96">96 Gallon</label>

        </fieldset>

        <input type="submit" value="update" />

    </form>

</div>



</body>
</html>